$bgColor: linear-gradient(90deg, #74DACE, #4DA1FC);

.page {
  width : 100vw;
  height: 100%;

  .noticebar {
    width: calc(100vw - 48rpx);
  }

  .content {

    .title {
      margin     : 40rpx 0;
      font-size  : 40rpx;
      font-weight: bold;
      text-align : center;
    }

    .form {
      display       : flex;
      flex-direction: column;
      margin        : 0 100rpx;

      .formItem {
        display    : flex;
        align-items: center;
        padding    : 20rpx 0;
        border-top : 1px solid #ccc;

        .prefix {
          width: 120rpx;
        }

        input {
          flex: 1;
        }

        button {
          width  : 60rpx;
          height : 60rpx;
          border : none;
          margin : 0;
          padding: 0;

          image {
            width : 60rpx;
            height: 60rpx;
          }
        }

        .eye {
          font-size  : 40rpx !important;
          margin-left: 20rpx;
          color      : rgba(0, 0, 0, 0.3);
        }
      }

      .formItem:last-child {
        border-bottom: 1px solid #ccc;
      }
    }

    .update {
      color     : #fff;
      border    : 0;
      margin    : 40rpx 100rpx;
      background: $bgColor;
    }
  }
}