$bgColor: linear-gradient(90deg, #74DACE, #4DA1FC);

.navBar,
.back,
.title {
  height     : 100%;
  display    : flex;
  align-items: center;
}

.navBar {
  width          : 100vw;
  font-size      : 18PX;
  color          : #333;
  border-bottom  : 1rpx solid #F2F6FA;
  position       : relative;
  left           : 0;
  top            : 0;
  z-index        : 9999;
  box-sizing     : border-box;
  justify-content: space-around;

  .back {}

  .title {
    flex           : 1;
    justify-content: center;
    font-weight    : bold;
  }
}

.bg {
  color        : #fff;
  background   : $bgColor;
  border-bottom: 0;
}