$bgColor: linear-gradient(90deg, #74DACE, #4DA1FC);

.navBarClass {
  color        : #fff;
  background   : $bgColor;
  border-bottom: 0;
}

.page {
  height  : 100%;
  position: relative;

  .top {
    width          : 100vw;
    height         : 300rpx;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    background     : $bgColor;

    .avatar {
      width        : 140rpx;
      height       : 140rpx;
      border-radius: 50%;
      border       : 2rpx solid #fff;
    }

    .name {
      color     : #fff;
      margin-top: 20rpx;
    }
  }

  .middle {
    color : #fff;
    margin: 20px;

    .item {
      height         : 100rpx;
      padding        : 0 20rpx;
      margin-top     : 20rpx;
      border-radius  : 10rpx;
      background     : $bgColor;
      display        : flex;
      align-items    : center;
      justify-content: space-between;

      .left {
        display    : flex;
        align-items: center;

        .icon {
          font-size   : 34rpx;
          margin-right: 20rpx;
        }

        .name {}
      }

      .right {}
    }
  }

  .bottom {
    width        : calc(100vw - 40rpx);
    color        : #fff;
    background   : $bgColor;
    border-radius: 10rpx;
    margin       : 20px;
    position     : absolute;
    bottom       : 0;
  }
}