.page {
  width : 100vw;
  height: 100%;

  .noticebar {
    width: calc(100vw - 48rpx);
  }

  .table {
    margin: 40rpx 0;

    .row {
      height    : 100rpx;
      display   : flex;
      border-top: 1px solid #ccc;

      .col {
        width          : 45vw;
        display        : flex;
        align-items    : center;
        justify-content: center;

        button {
          padding        : 0;
          margin         : 0;
          width          : 100%;
          border         : none;
          outline        : none;
          border-radius  : none;
          background     : #fff;
          display        : flex;
          align-items    : center;
          justify-content: center;

          image {
            width : 80rpx;
            height: 80rpx;
          }
        }

        button::after {
          border: none;
          color : transparent;
        }
      }

      .col:first-child {
        border-right: 1px solid #ccc;
      }
    }

    .row:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}