.page {
  width : 100vw;
  height: 100%;

  .noticebar {
    width: calc(100vw - 48rpx);
  }

  .content {

    .title {
      margin     : 40rpx 0;
      font-size  : 40rpx;
      font-weight: bold;
      text-align : center;
    }

    .form {
      display       : flex;
      flex-direction: column;
      margin        : 0 100rpx;

      .formItem {
        display    : flex;
        align-items: center;
        padding    : 20rpx 0;
        border-top : 1px solid #ccc;

        .prefix {
          width: 120rpx;
        }

        input {
          flex: 1;
        }

        button {
          width  : 60rpx;
          height : 60rpx;
          border : none;
          margin : 0;
          padding: 0;

          image {
            width : 60rpx;
            height: 60rpx;
          }
        }

        .eye {
          width      : 40rpx;
          height     : 40rpx;
          margin-left: 20rpx;
        }
      }

      .formItem:last-child {
        border-bottom: 1px solid #ccc;
      }
    }

    .btn {
      margin: 40rpx 100rpx;
    }
  }

  .table {
    margin: 40rpx 0;

    .row {
      height    : 100rpx;
      display   : flex;
      border-top: 1px solid #ccc;

      .col {
        width          : 45vw;
        display        : flex;
        align-items    : center;
        justify-content: center;

        button {
          padding        : 0;
          margin         : 0;
          width          : 100%;
          border         : none;
          outline        : none;
          border-radius  : none;
          background     : #fff;
          display        : flex;
          align-items    : center;
          justify-content: center;

          image {
            width : 80rpx;
            height: 80rpx;
          }
        }

        button::after {
          border: none;
          color : transparent;
        }
      }

      .col:first-child {
        border-right: 1px solid #ccc;
      }
    }

    .row:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}