$bgColor: linear-gradient(90deg, #74DACE, #4DA1FC);

.page {
  color : #fff;
  margin: 24rpx 32rpx;

  .catalog {
    height         : 100rpx;
    padding        : 0 20rpx;
    margin-top     : 20rpx;
    border-radius  : 10rpx;
    background     : $bgColor;
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    .left {
      display    : flex;
      align-items: center;

      .icon {
        font-size   : 40rpx !important;
        margin-right: 20rpx;
      }

      .name {}
    }

    .right {}
  }
}